/* Gaya untuk Header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Gaya untuk Navigasi */
nav ul {
    list-style-type: none;
    padding: 0;
}

.course img {
    width: 100px; /* Sesuaikan dengan ukuran yang Anda inginkan */
    height: 100px; /* Sesuaikan dengan ukuran yang Anda inginkan */
    display: block; /* Ini akan membuat gambar menjadi elemen blok */
    margin: 0 auto; /* Ini akan menengahkan elemen secara horizontal */
}


.course {
    margin-bottom: 40px;
}


.course h2 {
    margin: 0; /* Ini menghilangkan margin default dari h2 */
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

/* Gaya untuk Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
